DATABASE_URL=postgresql://postgres:postgres@localhost:5432/ecommerce
ENVIRONMENT=PROD
#ENVIRONMENT= DEV || TEST || PROD || STAGING || QA || UAT
PORT=8000
JWT_SECRET=your_jwt_secret_key
JWT_EXPIRES_IN=36000
# throtle settings
THROTTLE_SHORT_TTL=1000 #1 second
THROTTLE_SHORT_LIMIT=3 # 3 requests per second
THROTTLE_MEDIUM_TTL=10000 #10 seconds
THROTTLE_MEDIUM_LIMIT=20 # 20 requests per 10 seconds
THROTTLE_LONG_TTL=60000 # 1 minute
THROTTLE_LONG_LIMIT=100 # 100 requests per minute